# Odoo Configuration
ODOO_VERSION=19
ODOO_PORT=8069

# Database Configuration
POSTGRES_DB=postgres
POSTGRES_USER=odoo
POSTGRES_PASSWORD=odoo

# Odoo Admin Password (change this!)
ADMIN_PASSWD=admin

# Domain (for Dokploy)
DOMAIN=odoo.local

